@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  font-weight: 700;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  background-color: #bef264;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #bef264 !important;
}
